
<app-navbar_intel></app-navbar_intel>

<a routerLink="/landing">
    <button class= "upButton" onclick="upBtnClick()"> 
        <span class="button-text"><strong> Hosts </strong> </span>
    </button>
</a>
<a routerLink="/reporting">

<button class= "upButton">
    <span class="button-text"><strong> Targets </strong></span>
</button>   

</a>

<!-- <a routerLink="/reporting"> -->

    <button class= "upButton">
        <span class="button-text"><strong> Groups </strong></span>
    </button>
    
    <!-- </a> -->
